# ==== Character LCD (LCD) ====
NET "lcd_e" LOC = "M18" 		| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rs" LOC = "L18" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rw" LOC = "L17" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
# LCD data connections are shared with StrataFlash connections SF_D<11:8>
NET "lcd_data<0>" LOC = "R15" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_data<1>" LOC = "R16" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_data<2>" LOC = "P17"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_data<3>" LOC = "M15"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
