//! **************************************************************************
// Written by: Map P.49d on Mon Dec 08 20:24:17 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "lcd_e" LOCATE = SITE "M18" LEVEL 1;
COMP "lcd_data<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "lcd_data<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_data<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "lcd_data<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "L18" LEVEL 1;
SCHEMATIC END;

